<!DOCTYPE html>
<html lang="en">
<head>
    <title>World Development Clustering</title>
</head>
<body>
    <h2>Enter Feature Values to Predict Cluster</h2>
    
    <form action="/predict" method="post">
        {% for column in columns %}
            {% if column != "Country" %}  <!-- Exclude 'Country' column -->
                <label for="{{ column }}">{{ column }}:</label>
                <input type="text" name="{{ column }}" required><br><br>
            {% endif %}
        {% endfor %}
        <button type="submit">Predict Cluster</button>
    </form>

</body>
</html>
